
//                     nextflow based ChIP-seq pipeline config
docker.enabled = true

// Global default params, used in configs
params {
  //                    Directories
  // path to Input
  csvInput="$projectDir/toyData/fastqIN.csv"
  // path to Output
  outDir="$HOME/test/"
  // path to project
  project="$projectDir"
  // path to pipeline running reports
  tracedir = "${params.outDir}/pipeline_info"
  // path to bowtie2 index
  genomeIdx=false
  // length for mono-nucleosome selection
  minLen=140
  maxLen=200
  //efective genome size for normalisation
  genomeSize= 2864785220


  //                    Options
  help=false
}

process {
    withLabel: big {
        cpus = 5
        memory = 50.GB
    }
    withLabel: mid {
        cpus = 3
        memory = 16.GB
    }
}


// reporting

manifest {
  name = 'uschwartz/explore_ChIPseq'
  author = 'Uwe Schwartz'
  description = 'Nextflow ChIP-seq explore analysis pipeline'
  mainScript = 'main.nf'
  version = '01.0.0'
}

// pipeline reports
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
